In [2]:
200//100

2

In [7]:
a = []

a.extend(1)

TypeError: 'int' object is not iterable

In [4]:
a

[1, 2]